<nav class="navbar navbar-expand-lg navbar-dark bg-dark" style="padding: 0;">
    <div class="collapse navbar-collapse" style="flex-grow: unset;" id="navbarSupportedContent">
        <ul class="navbar-nav">

            <li class="nav-item active" style="margin-left: -8px;">
                <a class="nav-link" href="/">Home<span class="sr-only">(current)</span></a>
            </li>

            <li class="nav-item active">
                <a class="nav-link" href="/news">News<span class="sr-only">(current)</span></a>
            </li>

            <li class="nav-item active">
                <a class="nav-link" href="/solarSystem">Solar System<span class="sr-only">(current)</span></a>
            </li>

            <li class="nav-item active">
                <a class="nav-link" href="/constellation">Constellation Guide<span class="sr-only">(current)</span></a>
            </li>

            <li class="nav-item active">
                <a class="nav-link" href="/gallery">Gallery<span class="sr-only">(current)</span></a>
            </li>

            <li class="nav-item active">
                <a class="nav-link" href="/observatory">Observatory<span class="sr-only">(current)</span></a>
            </li>

            <li class="nav-item active">
                <a class="nav-link" href="/contact/create">Contact<span class="sr-only">(current)</span></a>
            </li>

            <li class="nav-item dropdown ml-auto">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-expanded="false">
                    <img class="user-avatar" src="/img/avatar.jpg" alt="Image avatar">
                    Khương Xuân Thanh
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <a class="dropdown-item" href="/solarSystem/create">Create Solar System</a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" href="/constellation/create">Create Constellation Guide</a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" href="/me/stored/solarSystem">My post</a>
                    <a class="dropdown-item" href="/me/stored/constellation">My post 1</a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" href="#">Log out</a>
                </div>
            </li>
        </ul>
    </div>
</nav>