<div>
    <ul class="nav nav-tabs">
        <li class="nav-item">
            <a class="nav-link active" href="/me/stored/solarSystem">Solar System</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/me/stored/constellation">Constellation Guide</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#">Link</a>
        </li>
        <li class="nav-item">
            <a class="nav-link disabled">Disabled</a>
        </li>
    </ul>
</div>